{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
{% if boolean %}
    <h1>New Page</h1>

    <form action="{% url 'newpage' %}" method="POST">
        {% csrf_token %}
        <label>Title of New Page: </label>
        <input type="text" name="title" placeholder="Enter Title"><hr>
        <label>Content: </label><br>
        <textarea name="content" rows = "5" cols = "80" placeholder="Enter the Markdown content for the page"></textarea><br>
        <input type="submit" value="Save">
    </form>
{% else %}
    <h1>{{ message }}</h1>
{% endif %}
{% endblock %}